.App {
  width: -webkit-fill-available;
  text-align: center;
}
.tab-manager {
  display: flex;
  padding: 24px;
  justify-content: center;
  border-bottom: 1px solid #48484859;
}
.tab {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  padding: 12px 36px;
  margin: 0 24px;
  font-size: 16px;
  letter-spacing: 0.5px;
  transition: all 0.5s ease;
  color: black;
  border: 1px solid #e1e1e1;
  user-select: none;
}
.tab:hover {
  background-color: rgba(0, 43, 73, 0.17);
}

.selected-tab {
  display: flex;
  align-items: center;
  background-color: white;
  color: #454e99;
  border: 1px solid #454e99;
  border-radius: 15px;
}

.bgImageGrille {
  background-image: url('./Grille.png'), url('./Grille.png');
  background-repeat: no-repeat;
  background-position: left center, top;
}
