@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h-75 {
    height: 75px;
  }
  .absolute {
    position: absolute;
  }
  .general-color {
    background-color: #454e99;
  }
  .btn-home {
    background-color: #52ae99;
  }
  .carousel {
    width: 100% !important;
  }
}
